SERVER_PROFILE_P1MFA_URL=https://github.com/ttranatping/p1mfa-serverprofile.git
SERVER_PROFILE_P1MFA_PATH=pingfederate
PING_IDENTITY_PASSWORD=2FederateM0re

P14C_ENVIRONMENTID=
P14C_WORKER_CLIENTID=
P14C_WORKER_CLIENTSECRET=
P14C_ENDUSER_CLIENTID=
P14C_ENDUSER_CLIENTSECRET=
P14C_API_SERVICE=https://api.pingone.com/v1
P14C_AUTHORIZATION_SERVICE=https://auth.pingone.com
